@import "@/styles/_variables";

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/5;
  }
  &__pagination {
    justify-self: center;
    grid-column: 1/4;
    margin-top: 50px;
  }
  &__other {
    grid-column: 2/5;
    justify-self: center;
  }
  &__filter {
    max-width: 248px;
  }
}

.slider {
  display: flex;
  gap: 11px;
  margin-bottom: 30px;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &__title {
    font-size: $large40;
    font-weight: $medium;
    text-transform: uppercase;
  }
}

.care {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 18px 16px;
  border-radius: 10px;
  color: $darkBlue;
  box-shadow: 0 15px 70px -11px #2b1c010a;
  cursor: pointer;
}

@media screen and (max-width: 1260px) {
  .catalog {
    &__box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 892px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
    &__box {
      grid-template-columns: repeat(1, 1fr);
    }
    &__pagination {
      grid-column: 1/2;
    }
  }
}

@media screen and (max-width: 700px) {
  .catalog {
    grid-template-columns: repeat(1, 1fr);
    &__box {
      grid-template-columns: repeat(1, 1fr);
      grid-column: auto;
    }
    &__filter {
      max-width: none;
      width: auto;
    }
  }
  .header{
    &__title {
      display: none;
    }
  }
  .slider {
    display: none;
  }
}
