@import '@/styles/_variables';

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/5;
  }
}

.slider {
  display: flex;
  gap: 11px;
  margin-bottom: 30px;
}

.title {
  font-size: $large40;
  font-weight: $medium;
  text-transform: uppercase;
}