@import '@/styles/_variables';

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: $orange;
  color: $white;
  border: none;
  border-radius: 80px;
  cursor: pointer;

  &__text {
    font-size: 14px;
    font-weight: $bold;
    white-space: nowrap;
  }
  &__icon {
    width: 15px;
    height: 15px;
    fill: white;
  }
  &__medium {
    width: 27px;
    height: 27px;
  }
}

.large {
  padding: 20px 51px;
}

.medium {
  padding: 14px 30px;
}

.small {
  padding: 10px 25px;
}

@media screen and (max-width: 860px) {
  .catalog {
    flex-direction: row-reverse;
    background-color: transparent;
    color: $darkBlue;
    font-weight: $semiBold;
    font-size: $smaller12;
    padding: 0;
  }
  .search {
    background-color: transparent;
  }
  .btn {
    &__catalog {
      stroke: $darkBlue;
    }
    &__text {
      font-size: 12px;
    }
    &__icon {
      width: 12px;
      height: 12px;
    }
  }
  .large {
    padding: 14px 30px;
  }
}