@import '@/styles/_variables';
@import '@/styles/_extends';

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  cursor: pointer;
  padding: 22px 55px;
  &_primary {
    background-color: $orange;
  }
  &_inherit {
    background-color: $darkBlue;
  }
  &_contained {
    border-radius: 80px;
  }
  &_outlined {
    background: transparent;
    border-radius: 10px;
    @extend %shadow-radius;
  }
}

.text {
  font-size: 14px;
  font-weight: $bold;
  white-space: nowrap;
  &_outlined {
    color: $darkBlue;
  }
  &_primary {
    color: $orange;
  }
  &_contained {
    color: $white;
  }
}

.icon {
  fill: $white;
  &_outlined {
    fill: $darkBlue;
  }
  &_primary {
    fill: $orange;
  }
  &_contained {
    fill: $white;
  }

}

// .large {
//   padding: 20px 51px;
// }

// .medium {
//   padding: 14px 30px;
// }

// .small {
//   padding: 10px 25px;
// }
