@import "@/styles/_variables";
@import "@/styles/_extends";

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  cursor: pointer;
  transition: .2s;
  &:hover {
    transform: scale(1.1);
  }
  &_primary {
    background-color: $orange;
  }
  &_inherit {
    background-color: $darkBlue;
  }
  &_contained {
    border-radius: 80px;
  }
  &_outlined {
    background: transparent;
    border-radius: 10px;
    @extend %shadow-radius;
  }
  &_small {
    padding: 18px;
  }
  &_medium {
    padding: 22px 55px;
  }
}

.text {
  font-size: 14px;
  font-weight: $bold;
  white-space: nowrap;
  &_outlined {
    color: $darkBlue;
  }
  &_primary {
    color: $orange;
  }
  &_contained {
    color: $white;
  }
}

.svg {
  fill: $white;
  &_outlined {
    fill: $darkBlue;
  }
  &_primary {
    fill: $orange;
  }
  &_contained {
    fill: $white;
  }
}

.icon {
  width: var(--size);
  height: var(--size);
}