// Цвета
$orange: #FFC85E;
$white: #FFFFFF;
$gray: #EDEDED;
$darkGray: #5C6370;
$darkBlue: #3F4E65;
$green: #1FD85D;

// Толщина букв
$extraBold: 800;
$bold: 700;
$semiBold: 600;
$medium: 500;
$light: 300;

// Размер шрифта
$smaller6: 6px;
$smaller10: 10px;
$smaller12: 12px;
$small14: 14px;
$small16: 16px;
$medium22: 22px;
$medium24: 24px;
$medium30: 30px;
$medium32: 32px;
$large40: 40px;