@import "reset";
@import "variables";
@import "extends";

img {
  object-fit: contain;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: $small14;
  margin: 0;
}

.app {
  margin: 0 auto;
}