@import "@/styles/_variables";

.header {
  &__title {
    font-size: $large40;
    font-weight: $medium;
    text-transform: uppercase;
  }
}

.items {
  margin-bottom: 50px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__totalprice {
    font-size: $medium30;
    font-weight: $bold;
    white-space: nowrap;
  }
}

.order {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
  }
  &__title {
    font-size: $large40;
    font-weight: $medium;
    margin-bottom: 0;
    color: $black;
    text-transform: uppercase;
  }
  &__info {
    font-size: $medium20;
    color: $darkBlue;
    font-weight: $light;
  }
}