@import '@/styles/_variables';

.card {
  padding: 30px 22px;
  max-width: 326px;
  max-height: 490px;
  border-radius: 10px;
  box-shadow: 0px 14px 39px -11px #0000000f;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 194px;
}

.container{
  display: flex;
  margin-bottom: 10px;
  gap: 8px;
  &__img {
    height: 14px;
    width: 9px;
    opacity: .23;
  }
  &__value {
    font-size: $smaller12;
    color: $darkBlue;
  }
}

.title {
  font-size: $small16;
  margin-bottom: 20px;
  &__brand {
    font-weight: $bold;
  }
  &__name {
    font-weight: $medium;
  }
}

.list {
  &__row {
    display: flex;
    gap: 5px;
  }
  &__prop {
    font-weight: $light;
    color: $darkBlue;
  }
  &__value {
    text-align: left;
    font-weight: $medium;
    margin: 0;
  }
}

.payment {
  display: flex;
  align-items: center;
  gap: 40px;
  &__value {
    font-weight: $extraBold;
    font-size: 16px;
  }
  &__btn {
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 10px;
  }
}