@import '@/styles/_variables';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 18px 16px;
  border-radius: 10px;
  color: $darkBlue;
  box-shadow: 0 15px 70px -11px #2b1c010a;
  cursor: pointer;
}