@import '@/styles/_variables';

.theme {
  background-color: $darkBlue;
  color: $white;
}

.wrap {
  max-width: 1370px;
  padding: 70px 15px;
  margin: 0 auto;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 95px;
}

.social {
  grid-column: 4/5;
  grid-row: 1/2;
  &__box {
    display: flex;
    gap: 10px;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
}

.price {
  grid-column: 4/5;
  grid-row: 1/2;
}

.logo {
  width: 156px;
  height: 66px;
}

.icon {
  fill: $white;
}

.company {
  margin-bottom: 45px;
  width: 320px;
  &__info {
    line-height: 1.5;
    font-size: $small16;
  }
  &__btn {
    display: none;
  }
}

.subscribe {
  &__info {
    font-size: 12px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  gap: 20px;
}

.item {
  white-space: nowrap;
}

.link {
  color: $white;
  transition: .2s;
  &:hover {
    color: $orange;
  }
}

.title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: $semiBold;
  white-space: nowrap;
}

.info {
  &_weight {
    font-weight: $semiBold;
  }
  &_light {
    font-size: 12px;
    font-weight: $light;
  }
  &_call {
    color: $white;
    font-size: 10px;
    text-decoration: underline;
  }
}

.contact {
  margin-top: 25px;
}

.cards {
  display: flex;
  gap: 5px;
  &__icon {
    width: 62px;
    height: 40px;
  }
}


@media screen and (max-width: 1260px) {

}

@media screen and (max-width: 860px) {
  .wrap {
    padding-top: 4px;
  }
  .logo {
    max-width: 98px;
  }
  .price {
    display: none;
  }
  .list {
    &_menu {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &_category {
      grid-column: 3/6;
    }
    &_contacts {
      grid-column: 1/3;
    }
    &_another {
      grid-column: 3/6;
    }
  }
  .company {
    grid-column: 1/6;
    grid-row: 1/2;
    &__info {
      font-size: 12px;
    }
    &__top {
      display: flex;
      align-items: center;
      gap: 45px;
    }
    &__btn {
      display: block;
    }
  }
}